body {
    background-color: #f0f2f5;
}

/* Flexbox used here */
.student-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
    padding: 40px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    text-align: center;
}
